/* =============
    Base
============= */


ul{


section{

    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
    background-color:royalblue;
}


exhibit.kit{
    background-color:  #CC6D4B;
}


.hidden{
    display: none;
    

}

}
