/* =============
    Base
============= */
<<<<<<< Updated upstream

ul{
=======
<<<<<<< Updated upstream
=======

section{
>>>>>>> Stashed changes
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
    background-color:royalblue;
}

<<<<<<< Updated upstream
=======
exhibit.kit{
    background-color:  #CC6D4B;
}
>>>>>>> Stashed changes

.hidden{
    display: none;
    
<<<<<<< Updated upstream
}
=======
}
>>>>>>> Stashed changes
>>>>>>> Stashed changes
