/* =============
    Typography
============= */
<<<<<<< Updated upstream
=======
<<<<<<< Updated upstream
=======
>>>>>>> Stashed changes


p{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Roboto', sans-serif;
}

h2{
    font-family: 'Roboto', sans-serif;
}

li{
    font-family: 'Roboto', sans-serif;
}
<<<<<<< Updated upstream
=======

article{
    font-family: 'Roboto', sans-serif;
}
>>>>>>> Stashed changes
>>>>>>> Stashed changes
