#exhibit{

    color: white;

    ul li{

    ul img{

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 16px;
        grid-template-areas: "n1 n2 n3";

        color: #CC6D4B;

    }

    
        

    }

    
    background-color: chocolate;

    ul li {
        color: white;
    }

    h1 {
        color: white;
    } 
       

    

}